{% trans_default_domain "specshapercalendarbundle" %}

<div id="calendar-holder"></div>

{{ render (controller ('SpecShaperCalendarBundle:Invitee:getEmailAddresses')  )}}

{{ render (controller ('SpecShaperCalendarBundle:Event:addEvent')  )}}