
/* 
    Created on : 31/01/2016, 5:11:28 AM
    Author     : Mark Ogilvie <mark.ogilvie@specshaper.com>
*/
#spec_shaper_calendar_event_calendarAttendees >tbody> tr > td {
    font-size: 9px;
}

td.isOptional > div, td.isOptional > div > div{
    padding: 0px;
    margin: 0px;
}

td.isOptional > div > div > label{
    display:block
}

.attendeeIcons{
    display: inline-block;
}

.attendeeIcons > i {
   cursor: pointer;
}

.modal-xl{
    width: 80%; 
}

form.buttonForm{
    display: inline-block;
}
