
<tr>
  <td class="isOptional">{{ form_row(form.isOptional) }}</td>
  <td><span class="emailAddress">{{ form.emailAddress.vars.data }}</span>{{ form_row(form.emailAddress) }}</td>     
  <td>
    <span class="inviteeIcons pull-right">

      {% if form.vars.data != null %}
          {% if form.vars.data.hasAccepted == true %}
              <i class="glyphicon glyphicon-ok-sign" title="{% trans %}specshaper_calendarbundle.button.hasAccepted{% endtrans %}"></i>
          {% endif %}
          {% if form.vars.data.hasDenied == true %}
              <i class="glyphicon glyphicon-remove-sign" title="{% trans %}specshaper_calendarbundle.button.hasDenied{% endtrans %}"></i>
          {% endif %}
      {% endif %}
      <i class="removeInviteeButton glyphicon glyphicon-trash" title="{% trans %}specshaper_calendarbundle.button.remove{% endtrans %}"></i>
  </td>
</tr>


